$catskill-white : #edf3f7;
$dusty-gray     : #999999;
$rhino          : #293b5a;
$ebony-clay     : #292f43;
$ship-cove      : #7b96c4;
$robin-blue     : #00c8e7;
$jungle-green   : #26b75e;
$scarlet        : #e32908;
$radical-red    : #ff2f6c;
$yellow-sea     : #ffae03;

// STYLE FOR MORE PAGES
// /////////////////////////////////////////////////////////////////////////////

// guide to user
.latoswpmanager-guide {
  background-color: rgba(#fff, 0.5);
  padding: 15px;
  border-left: solid 2px $rhino;
  margin-bottom: 20px;
}

// single title
.latoswpmanager-small-title {
  text-transform: uppercase;
  border-bottom: solid 2px $rhino;
  padding-bottom: 5px;
}

// helper for user guide
.latoswpmanager-helper {
  background: rgba($rhino, 0.1);
  padding: 10px;
  margin-bottom: 5px;
}

// progres graph
.latoswpmanager-progress-graph {

  td:first-child {
    width: 50px;
  }

  .progress-bar {
    height: 4px;
    background-color: rgba($robin-blue, 0.1);
  }

  .actual-progress {
    height: 4px;
    width: 0;

    &.completed {background-color: $jungle-green;}
    &.wait {background-color: $yellow-sea;}
    &.develop {background-color: $robin-blue;}
    &.test {background-color: $scarlet;}
  }
}

// tasks timeline
.latoswpmanager-timeline {
  clear: both;
  height: 400px;
  position: relative;

  .timeline-navigation-arrow {
    text-decoration: none;
    background: $robin-blue;
    color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    line-height: 1em;
    padding: 10px 5px;
    transition: all 0.3s;
    position: absolute;
    z-index: 1;

    &.prev {
      top: calc(50% - 15px);
      left: -15px;
    }

    &.next {
      top: calc(50% - 15px);
      right: -15px;
    }

    &:hover {
      box-shadow: 0 1px 4px rgba(41, 59, 90, 0.25);
    }
  }

  .timeline-day {
    width: 14.25%;
    float: left;
    border-right: solid 1px $dusty-gray;
    height: 400px;

    &:last-child {
      border: none;
    }
  }

  .timeline-day-title {
    text-align: center;

    &.today {
      color: $robin-blue;
      font-weight: bold;
    }
  }

  .timeline-tasks {
    padding: 10px;
    height: 375px;
    overflow-y: scroll;
  }

  .timeline-task {
    background-color: $catskill-white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    display: block;
    text-decoration: none;
    transition: all 0.3s;

    &:hover {
      box-shadow: 0 1px 4px rgba(41, 59, 90, 0.25);
    }

    &.completed {background-color: $jungle-green;}
    &.wait {background-color: $yellow-sea;}
    &.develop {background-color: $robin-blue;}
    &.test {background-color: $scarlet;}

    .timeline-task-title {
      font-size: 10px;
      color: #fff;
      font-weight: bold;
      line-height: 1.1em;
      padding-bottom: 5px;
    }

    .timeline-task-time {
      display: inline-block;
      position: absolute;
      top: -3px;
      right: -3px;
      background-color: #fff;
      border-radius: 5px;
      padding: 0 2px;
      font-size: 8px;
      min-width: 15px;
      border: solid 1px $rhino;
      text-align: center;
    }

    .timeline-task-info {
      border-top: solid 1px #fff;
      font-size: 8px;
      color: #fff;
      line-height: 1.1em;
      padding-top: 5px;
    }
  }

}

// custom content row style
.latoswpmanager-content-row {

  .table .actions {
    text-align: right;
  }
}

// timeline data select
.latoswpmanager-timeline-date-select-button {
  cursor: pointer;
  text-transform: none;
  float: right;
}

.latoswpmanager-timeline-date-select {
  height: 0;
  overflow: hidden;

  &.active {
    height: 100%;
    overflow: visible;
  }
}

// STYLE FOR CUSTOM PAGES
// /////////////////////////////////////////////////////////////////////////////

// tasks form on project tasks page
.latoswpmanager-project-tasks-form {

  height: 0;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;

  .content-row {
    .content-block {
      margin-bottom: 0;
    }
  }

  &.active {
    height: 100%;
    overflow: visible;
  }

}

// project title on collaborator tasks list.
.latoswpmanager-collaborator-tasks-project-title {
  margin-top: 30px;

  a {
    float: right;
    text-transform: none;
    font-weight: lighter;
  }
}

// single task on collaborator tasks list.
.latoswpmanager-collaborator-tasks-task-info {

  td:last-child {
    a {float: right;}
  }

  td:first-child {
    width: 20px;
    margin: 0;
    padding: 0;

    span {
      background-color: $rhino;
      color: #fff;
      width: 20px;
      height: 20px;
      display: inline-block;
      border-radius: 50%;
      font-size: 12px;

      &.wait {
        background-color: $yellow-sea;
      }
      &.develop {
        background-color: $jungle-green;
      }
    }
  }
}

// task message object.
.latoswpmanager-task-message {
  margin-bottom: 20px;

  .user {
    font-size: 12px;
    margin-left: 20px;

    a {
      color: $scarlet;
    }
  }

  .message {
    background: rgba($rhino, 0.1);
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 10px;
  }

  &.current {
    .user {
      text-align: right;
      margin-right: 20px;
      margin-left: 0;
    }

    .message {
      background: rgba($robin-blue, 0.1);
      text-align: right;
    }
  }
}
