$catskill-white : #edf3f7;
$dusty-gray     : #999999;
$rhino          : #293b5a;
$ebony-clay     : #292f43;
$ship-cove      : #7b96c4;
$robin-blue     : #00c8e7;
$jungle-green   : #26b75e;
$scarlet        : #e32908;
$radical-red    : #ff2f6c;
$yellow-sea     : #ffae03;

// STYLE FOR MORE PAGES
// /////////////////////////////////////////////////////////////////////////////

.latoswpmanager-small-title {
  text-transform: uppercase;
  border-bottom: solid 2px $rhino;
  padding-bottom: 5px;
}

.latoswpmanager-helper {
  background: rgba($rhino, 0.1);
  padding: 10px;
  margin-bottom: 5px;
}

.latoswpmanager-progress-graph {

  td:first-child {
    width: 50px;
  }

  .progress-bar {
    height: 4px;
    background-color: rgba($robin-blue, 0.1);
  }

  .actual-progress {
    height: 4px;
    width: 0;

    &.green {background-color: $jungle-green;}
    &.yellow {background-color: $yellow-sea;}
    &.blue {background-color: $robin-blue;}
    &.red {background-color: $scarlet;}
  }
}

.latoswpmanager-timeline {
  border-left: solid 1px $dusty-gray;
  clear: both;
  height: 400px;

  .timeline-day {
    width: 14.25%;
    float: left;
    border-right: solid 1px $dusty-gray;
    height: 400px;
  }

  .timeline-day-title {
    text-align: center;

    &.today {
      color: $robin-blue;
      font-weight: bold;
    }
  }

  .timeline-tasks {
    padding: 10px;
    height: 380px;
    overflow-y: scroll;
  }

  .timeline-task {
    background-color: $catskill-white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;

    .timeline-task-title {
      font-size: 10px;
    }
  }

}

// STYLE FOR CUSTOM PAGES
// /////////////////////////////////////////////////////////////////////////////

// tasks form on project tasks page
.latoswpmanager-project-tasks-form {

  height: 0;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;

  .content-row {
    .content-block {
      margin-bottom: 0;
    }
  }

  &.active {
    height: 100%;
    overflow: visible;
  }

}

// project title on collaborator tasks list.
.latoswpmanager-collaborator-tasks-project-title {
  margin-top: 30px;

  a {
    float: right;
    text-transform: none;
    font-weight: lighter;
  }
}

// single task on collaborator tasks list.
.latoswpmanager-collaborator-tasks-task-info {

  td:last-child {
    a {float: right;}
  }

  td:first-child {
    width: 20px;
    margin: 0;
    padding: 0;

    span {
      background-color: $rhino;
      color: #fff;
      width: 20px;
      height: 20px;
      display: inline-block;
      border-radius: 50%;
      font-size: 12px;

      &.wait {
        background-color: $yellow-sea;
      }
      &.develop {
        background-color: $jungle-green;
      }
    }
  }
}

// task message object.
.latoswpmanager-task-message {
  margin-bottom: 20px;

  .user {
    font-size: 12px;
    margin-left: 20px;

    a {
      color: $scarlet;
    }
  }

  .message {
    background: rgba($rhino, 0.1);
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 10px;
  }

  &.current {
    .user {
      text-align: right;
      margin-right: 20px;
      margin-left: 0;
    }

    .message {
      background: rgba($robin-blue, 0.1);
      text-align: right;
    }
  }
}
