<table class="table">
  <tr>
    <th>Name</th>
    <td><%= @collaborator.string_complete_name %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= @collaborator.email %></td>
  </tr>
  <tr>
    <th>Phone</th>
    <td><%= @collaborator.phone %></td>
  </tr>
</table>
