<table class="table">
  <% @collaborators.each do |collaborator| %>
  <% tasks_time = collaborator.tasks.where(project_id: @project.id).sum(:expected_work_time) %>
  <tr>
    <td><%= collaborator.string_complete_name %></td>
    <td>
      <% if collaborator.work_time_per_day %>
        <%= (tasks_time / collaborator.work_time_per_day).round(1) %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
