<div class="latoswpmanager-progress-graph">

  <% total = @tasks.sum(:expected_work_time) %>

  <table class="table">
    <% @collaborators.each do |collaborator| %>
      <%
        if total > 0
          time_percetange = (collaborator.tasks.where(project_id: @project.id).sum(:expected_work_time) * 100) / total
        end
      %>
      <tr>
        <td><%= collaborator.string_complete_name %></td>
        <td>
          <div class="progress-bar">
            <div class="actual-progress develop" style="width: <%= time_percetange %>%"></div>
          </div>
        </td>
      </tr>
    <% end %>
  </table>

</div>
