<div class="latoswpmanager-progress-graph">

  <% total = @tasks.length %>

  <table class="table">
    <% @collaborators.each do |collaborator| %>
    <%
      if total > 0
        tasks_percetange = (collaborator.tasks.where(project_id: @project.id).length * 100) / total
      end
    %>
    <tr>
      <td><%= collaborator.string_complete_name %></td>
      <td>
        <div class="progress-bar">
          <div class="actual-progress green" style="width: <%= tasks_percetange %>%"></div>
        </div>
      </td>
    </tr>
    <% end %>
  </table>

</div>
