<div class="latoswpmanager-progress-graph">

  <%
    total = @tasks.length
    if total > 0
      completed_percetange = (@completed_tasks.length * 100) / total
      wait_percetange = (@wait_tasks.length * 100) / total
      develop_percentage = (@develop_tasks.length * 100) / total
      test_percentage = (@test_tasks.length * 100) / total
    end
  %>

  <table class="table">
    <tr>
      <td>Completed</td>
      <td>
        <div class="progress-bar">
          <div class="actual-progress green" style="width: <%= completed_percetange %>%"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Wait</td>
      <td>
        <div class="progress-bar">
          <div class="actual-progress yellow" style="width: <%= wait_percetange %>%"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Develop</td>
      <td>
        <div class="progress-bar">
          <div class="actual-progress blue" style="width: <%= develop_percentage %>%"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Test</td>
      <td>
        <div class="progress-bar">
          <div class="actual-progress red" style="width: <%= test_percentage %>%"></div>
        </div>
      </td>
    </tr>
  </table>

</div>
