<%

block = view(:layout, :block).new

back_button = view(:component, :button).new(title: 'All projects',
url: lato_swpmanager.projects_path, size: :small)

tasks_button = view(:component, :button).new(title: 'Tasks',
url: lato_swpmanager.project_tasks_path(id: @project.id), size: :small, color: :yellow)

project_button = view(:component, :button).new(title: 'Go to project',
url: lato_swpmanager.project_path(@project.id), size: :small)

actionbar = view(:layout, :actionbar).new(title: "Edit project",
widgets: [
  {component: back_button, align: :right},
  {component: project_button, align: :right},
  {component: tasks_button, align: :right}
])

%>


<%=raw actionbar %>

<div class="content-row">
  <%=raw block.open %>

    <%= render 'lato_swpmanager/back/projects/shared/form', method: :put %>

  <%=raw block.close %>
</div>
