<%

block = view(:layout, :block).new

back_button = view(:component, :button).new(title: 'All projects',
url: lato_swpmanager.projects_path, size: :small)

actionbar = view(:layout, :actionbar).new(title: "New project",
widgets: [{component: back_button, align: :right}])

%>


<%=raw actionbar %>

<div class="content-row">
  <%=raw block.open %>

    <%= render 'lato_swpmanager/back/projects/shared/form', method: :post %>

  <%=raw block.close %>
</div>
